In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import re
import geopy.distance
from shapely.geometry import point

ModuleNotFoundError: No module named 'plotly'

In [332]:
#filtro_ciudad.to_csv('properati-comuna13.csv')

In [11]:
import geopandas as gpd
#dftren = gpd.read_file('ferrocarril.json')
#dfsubte = gpd.read_file('estacion.json')

In [9]:
data_location = "estaciones-de-subte.csv"

df_subte = pd.read_csv(data_location, sep=',')

In [8]:
data_location = "data_reg_multiple.csv"

dfdata_reg_multiple = pd.read_csv(data_location, sep=',')

In [12]:
#dfsubte= dfsubte[dfsubte.LINEA == 'D']
#filtro = ["Rivadavia","Núñez","Belgrano R.","Belgrano C.","Colegiales"]
#dftrenarea = dftren[dftren.nam.isin(filtro)]

geo_subte = gpd.GeoDataFrame(df_subte,geometry=gpd.points_from_xy(df_subte.long, df_subte.lat))

In [13]:
geo_subte.head(5)

,long,lat,id,estacion,linea,geometry
0,-58.398928,-34.635750,1.0,CASEROS,H,POINT (-58.39893 -34.63575)
1,-58.400970,-34.629376,2.0,INCLAN - MEZQUITA AL AHMAD,H,POINT (-58.40097 -34.62938)
2,-58.402323,-34.623092,3.0,HUMBERTO 1°,H,POINT (-58.40232 -34.62309)
3,-58.404732,-34.615242,4.0,VENEZUELA,H,POINT (-58.40473 -34.61524)
4,-58.406036,-34.608935,5.0,ONCE - 30 DE DICIEMBRE,H,POINT (-58.40604 -34.60894)

In [14]:
#filtro_ciudad_geo  renombrar a dfdata_reg_multiple_geo
filtro_ciudad_geo = gpd.GeoDataFrame(dfdata_reg_multiple, geometry = gpd.points_from_xy(dfdata_reg_multiple.lon, dfdata_reg_multiple.lat))
filtro_ciudad_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 4772 entries, 0 to 4771
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4772 non-null   int64
 1   place_name             4772 non-null   object
 2   price_aprox_usd        4772 non-null   float64
 3   surface_covered_in_m2  4772 non-null   float64
 4   price_usd_per_m2       4772 non-null   float64
 5   rooms_compuesta        4772 non-null   float64
 6   amenitie_balcon        4772 non-null   int64
 7   amenitie_cochera       4772 non-null   int64
 8   amenitie_parrilla      4772 non-null   int64
 9   amenitie_pileta        4772 non-null   int64
 10  amenitie_amoblado      4772 non-null   int64
 11  estrenar               4772 non-null   int64
 12  lat                    4772 non-null   float64
 13  lon                    4772 non-null   float64
 14  geometry               4772 non-null   geometry
dtypes: float64(6), geometry(1), int64(7), object(1)
memory usage: 559.3+ KB

In [16]:
#creo la columna distancia al subte
dfdata_reg_multiple['distsubte'] = " "

dfdata_reg_multiple.head(1)

,Unnamed: 0,place_name,price_aprox_usd,surface_covered_in_m2,price_usd_per_m2,rooms_compuesta,amenitie_balcon,amenitie_cochera,amenitie_parrilla,amenitie_pileta,amenitie_amoblado,estrenar,lat,lon,geometry,distsubte
0,7,Belgrano,138000.0,40.0,3066.666667,1.0,0,0,0,1,0,1,-34.559873,-58.443362,POINT (-58.44336 -34.55987),

C:\Users\jpineros\Anaconda3\envs\dhdsblend2021_geopandas\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [17]:
####################################################################################Distancia al subte
#geo_subte = 
#filtro_ciudad_geo  renombrar a dfdata_reg_multiple_geo
for i in range(len(filtro_ciudad_geo)):
    mini =0
    for j in range(len(dfsubte)):
        dist= filtro_ciudad_geo['geometry'].iloc[i].distance(df_subte['geometry'].iloc[j])
        if j==0:
            mini = dist
        if j>0 and dist < mini:
            mini = dist
    dfdata_reg_multiple['distsubte'].iloc[i] = mini

C:\Users\L0521012\Anaconda3\envs\dhdsblend2021_geopandas\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [18]:
dfdata_reg_multiple.head(10)

,Unnamed: 0,place_name,price_aprox_usd,surface_covered_in_m2,price_usd_per_m2,rooms_compuesta,amenitie_balcon,amenitie_cochera,amenitie_parrilla,amenitie_pileta,amenitie_amoblado,estrenar,lat,lon,geometry,distsubte
0,7,Belgrano,138000.0,40.0,3066.666667,1.0,0,0,0,1,0,1,-34.559873,-58.443362,POINT (-58.44336 -34.55987),0.010223
1,8,Belgrano,195000.0,60.0,3000.000000,3.0,0,0,0,1,0,1,-34.559873,-58.443362,POINT (-58.44336 -34.55987),0.010223
2,17,Palermo,350000.0,96.0,3365.384615,3.0,1,0,0,0,0,0,-34.580504,-58.405874,POINT (-58.40587 -34.58050),0.009443
3,19,Palermo,270500.0,73.0,2292.372881,4.0,0,0,0,0,0,0,-34.590926,-58.411665,POINT (-58.41167 -34.59093),0.002714
4,47,Caballito,110000.0,50.0,2200.000000,3.0,1,0,0,0,0,0,-34.622211,-58.439128,POINT (-58.43913 -34.62221),0.002731
5,48,Caballito,170500.0,46.0,1705.000000,2.0,0,0,0,0,0,0,-34.623894,-58.446861,POINT (-58.44686 -34.62389),0.001824
6,49,Caballito,220410.0,75.0,2721.111111,3.0,0,1,0,0,0,0,-34.620928,-58.445874,POINT (-58.44587 -34.62093),0.003803
7,50,Caballito,222780.0,75.0,2750.370370,3.0,0,1,0,0,0,0,-34.620928,-58.445874,POINT (-58.44587 -34.62093),0.003803
8,54,Caballito,108000.0,67.0,1542.857143,3.0,1,0,0,0,0,0,-34.628786,-58.427783,POINT (-58.42778 -34.62879),0.002031
9,96,Belgrano,178000.0,55.0,3236.363636,2.0,1,1,0,0,0,0,-34.562697,-58.460157,POINT (-58.46016 -34.56270),0.003688

In [23]:
dfdata_reg_multiple.shape

(4772, 16)

In [25]:
dfdata_reg_multiplesubte = dfdata_reg_multiple

In [26]:
dfdata_reg_multiplesubte.shape

(4772, 16)

In [28]:
dfdata_reg_multiplesubte.drop("geometry", axis=1, inplace=True)

In [32]:
dfdata_reg_multiplesubte.shape

(4772, 15)

In [33]:
dfdata_reg_multiplesubte.to_csv("dfdata_reg_multiplesubte2.csv")